.edit_website {
  position: relative;
  background: #fff;
  border-radius: 4px;
  height: 100vh;
  //https://www.jianshu.com/p/c081ca3f9945
  // .common_div {
  //   position: absolute;
  //   cursor: move;
  //   border: 1px solid #ccc;
  // }
}
