.message_content {
  display: flex;
  align-items: center;
  padding: 5px 16px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 6px rgb(81 87 103 / 16%);
  pointer-events: all;
  font-size: 12px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  // top: 15px;
  z-index: 999;
  color: #262626;
  .message_icon {
    margin-right: 5px;
    font-size: 12px;
  }
  .success{
    color: #52c41a;
  }
  .info {
    color: #1890ff;
  }
  .error{
    color: #ff4d4f;
  }
  .warn{
    color: #faad14;
  }
}
