.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.2s;
  border-bottom: 1px solid #f1f1f1;
  color: #909090;
  height: 5rem;
  z-index: 250;
  background: #ffffff;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);

  &_container {
    display: flex;
    align-items: center;
    height: 100%;
    margin: auto;
    max-width: 1440px;
    .logo {
      display: flex;
      align-items: center;
      margin-right: 1rem;
      margin-left: 24px;
      color: #000;
      font-weight: 700;
      font-size: 18px;
      img{
        margin-right: 1rem;
      }
    }
  }

  &_list {
    display: flex;
  }
}
