html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

html {
  font-size: 12px;
  word-break: break-word;
  text-rendering: optimizeLegibility;
  color: #333;
  background-color: #f4f5f5;
}

* {
  box-sizing: border-box;
}

a {
  color: #909090;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

@font-face {
  font-family: "iconfont"; /* Project id 3882407 */
  src: url('//at.alicdn.com/t/c/font_3882407_ha6ax716w6p.woff2?t=1675827105649') format('woff2'),
       url('//at.alicdn.com/t/c/font_3882407_ha6ax716w6p.woff?t=1675827105649') format('woff'),
       url('//at.alicdn.com/t/c/font_3882407_ha6ax716w6p.ttf?t=1675827105649') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun-:before {
  content: "\e609";
}

.icon-dianzan:before {
  content: "\e600";
}

.icon-yanjing:before {
  content: "\e611";
}

.icon-github:before {
  content: "\e6f6";
}

.icon-gitee-fill-round:before {
  content: "\e686";
}
