@font-face {
  font-family: "iconfont"; /* Project id 3882407 */
  src: url('//at.alicdn.com/t/c/font_3882407_09wlhc1s44xt.woff2?t=1678262584547') format('woff2'),
       url('//at.alicdn.com/t/c/font_3882407_09wlhc1s44xt.woff?t=1678262584547') format('woff'),
       url('//at.alicdn.com/t/c/font_3882407_09wlhc1s44xt.ttf?t=1678262584547') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close-fill:before {
  content: "\e617";
}

.icon-warning-fill:before {
  content: "\e61e";
}

.icon-check-fill:before {
  content: "\e61f";
}

.icon-chacha:before {
  content: "\e62e";
}

.icon-beizhuyitianxie:before {
  content: "\e60a";
}

.icon-caogaoxiang:before {
  content: "\e604";
}

.icon-sanjiaodown:before {
  content: "\e6b5";
}

.icon-sousuo:before {
  content: "\e603";
}

.icon-pinglun-:before {
  content: "\e609";
}

.icon-dianzan:before {
  content: "\e600";
}

.icon-yanjing:before {
  content: "\e611";
}

.icon-github:before {
  content: "\e6f6";
}

.icon-gitee-fill-round:before {
  content: "\e686";
}