@font-face {
  font-family: "iconfont"; /* Project id 3882407 */
  src: url("//at.alicdn.com/t/c/font_3882407_6asqh28uyz.woff2?t=1676014772788")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_3882407_6asqh28uyz.woff?t=1676014772788")
      format("woff"),
    url("//at.alicdn.com/t/c/font_3882407_6asqh28uyz.ttf?t=1676014772788")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sanjiaodown:before {
  content: "\e6b5";
}

.icon-sousuo:before {
  content: "\e603";
}

.icon-pinglun-:before {
  content: "\e609";
}

.icon-dianzan:before {
  content: "\e600";
}

.icon-yanjing:before {
  content: "\e611";
}

.icon-github:before {
  content: "\e6f6";
}

.icon-gitee-fill-round:before {
  content: "\e686";
}
